#catalog > h2 {
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  padding: 15px 0px;
}
#catalog > section {
  padding: 25px 0px;
}
.fr-card {
  position: relative;
  padding: 50px;
  transition: 0.4s ease-in-out;
  width: 300px;
  height: 500px;
}
.fr-card > .container > div{
  position: relative;
  height: 300px;
}
.fr-card > .container > *{
  padding: 5px;
}
.fr-card > .container > div > img{
  object-fit: cover;
  height: 100%;
}
.fr-card > .container > .fr-btn{
  margin: 10px;
  font-size: 0.9em;
}
@media screen and (max-width: 1500px) {
  .fr-card {
    padding: 25px;
  }
}
@media screen and (max-width: 992px) {
  #catalog > h2 {
    font-size: 0.9rem;
    background-color: var(--secondary-color);
    padding: 15px 0px;
  }
  .fr-card {
    padding: 10px;
  }
  .fr-card > p {
    font-size: 0.8em;
  }
  .fr-card {
    width: 175px;
    height: 400px;
  }
  .fr-card > .container > div{
    height: 175px;
  }
  .fr-card {
    font-size: 0.7em;
  }
}
